<form method="POST">
    <label for="nome">Nome do Curso</label>
    <input type="text" id="nome" name="nome" required>
    
    <label for="descricao">Descrição do Curso</label>
    <textarea id="descricao" name="descricao" required></textarea>
    
    <label for="categoria_id">Categoria</label>
    <select id="categoria_id" name="categoria_id">
        <option value="">Selecione uma Categoria</option>
        {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
        {% endfor %}
    </select>
    
    <h4>Ou, cadastre uma nova categoria:</h4>
    <label for="nova_categoria_nome">Nome da Nova Categoria</label>
    <input type="text" id="nova_categoria_nome" name="nova_categoria_nome">
    
    <label for="nova_categoria_descricao">Descrição da Nova Categoria</label>
    <textarea id="nova_categoria_descricao" name="nova_categoria_descricao"></textarea>
    
    <label for="id_instrutor">Instrutor</label>
    <input type="text" id="id_instrutor" name="id_instrutor" required>
    
    <button type="submit">Cadastrar Curso</button>
</form>
